<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="utf-8" />
		<title></title>		
	</head>
	<body ng-controller="myCtrl">
		<!--{{ tian() }}
		{{"姓名：" + user[0].userName + "性别:" + user[0].sex + "体重:"+user[0].weight + "身高："+user[0].height}}-->
			<seclect ng-model="myCar">
				<option value="奔驰"></option>
				<option value="宝马"></option>
				<option value="奥迪"></option>
			</seclect>
			<textarea>{{myCar}}</textarea>
			<input ng-model="car"/>
			{{car}}

	</body>
	<script type="text/javascript" src="js/angular.js" charset="utf-8"></script>
	<script>
		var app = angular.module("myApp",[])
			app.controller("myCtrl",function($scope){
			$scope.car = "tianjinying";
			$scope.myCar = "tianjinying";
	    })
	</script>
</html>
